<head>
<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
<style>

a{
    background-color: hsl(0, 0%, 90%);
}
a:nth-child(even) {
    background-color: hsl(0, 0%, 96%);
}

</style>
<script>




function pay(id, price){
document.getElementById('process').classList.add('is-active');
    fetch("/api/generateinvoice/" + document.getElementById('email').placeholder + '/' + price + '/' + id, 
         { method: 'post', 
         credentials: "same-origin",
             body: JSON.stringify({
    id: id,
  }), 
             headers: {
    'Accept': 'application/json',
    'Content-Type': 'application/json',
    'Authorization': 'Basic ' + btoa('ferox:latijn')


  }
         }).then(res => res.json())
    .then(json => {

window.location.replace(json.links[4].href);
    });
  //  window.location.replace("https://client.ferox.host/admin");

}


</script>
<style>
.mailput{
  width:20% !important;
}
html{
  background-color: #209cee;
}
.is-primary{
  background-color: #3273dc !important;
}

</style>
</head>


<body>

<div class="modal" id="process">
  <div class="modal-background"></div>
  <div class="modal-content">
    <div class="box">Processing...</div>
  </div>
</div>


<div class="title">  
    <i class="fab fa-facebook-square"></i>erox Hosting
</div>  

<article class="is-primary">
  <ul>
<li>Buying: <%= item %></li>
<li>Price: 5</li>
</ul>
<input type="text" placeholder="email"></input>
<button class="is-secondary">Pay using paypal</button>
</article>

</body>